@media screen and (max-width: 767px){
    .header {
        width: 250px;
    }
    .center {
        width: 250px;
    }
    .right {
        width: 100px;
    }
    .footer {
        width: 250px;
    }
}
@media screen and (max-width: 479px) {
    .wrapper {
        float: none;
    }
    .header {
        width: 150px;
    }
    .center{
        width: 150px;
    }
    .right {
        width: 150px;
    }
    .footer {
        width: 150px;
    }


}