@charset "UTF-8";
.form {
	padding-top: 50px;
	padding-bottom: 50px;
}
.wrapper {
	background-color: gray;
}
.header {
	display: inline-block;
	padding: 10px;
	color: white;
}
.time {
	padding: 10px;
	font-size: 10px;
}
.footer {
	background-color: gray;
}
.footer p {
	display: inline-block;
	padding: 10px;
	color: white;
}
