@media screen and (max-width: 767px) {
    .wrapper {
        width: 300px;
    }
    .header {
        width: 300px;
    }
    .left {
        width: 100px;
    }
    .right {
        width: 200px;
    }
    .center {
        width: 125px;
    }
    .center-right {
        width: 75px;
    }
    .footer {
        width: 300px;
    }
}
@media screen and (max-width: 479px) {
    .wrapper {
        float: none;
        width: 150px;
    }
    .header {
        width: 150px;
    }
    .left {
        width: 150px; 
    }
    .right {
        width: 150px;  
    }
    .center {
        width: 150px; 
    }
    .center-right {
        width: 150px;   
    }
    .footer {
        width: 150px;
    }
    
}