body {
    width: 100%;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
}
.header {
    height: 100px;
    background-color: #141f40;
}

 
.left {
    float: left;
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}
.right {
    float: right;
    height: 250px;
    width: 250px;
}
.center {
    float: left;
    width: 150px;
}
.center-upper {
    height: 50px;
    background-color: #dbd400;
}
.center-bottom {
    height: 100px;
    background-color: #0093b7;
}
.center-right {
    float: right;
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
}
.right-bottom {
    height: 100px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}
.clearfix::after {
    content:'';
    display: block;
    clear: both;
}